.main_top{
    background-color: #e6d374;
    border: 1px solid #FfFCED;
    line-height: 20px;
    padding:10px;
    margin-bottom: 10px;
    overflow:hidden;
}
nz-table{
    a{
        padding:5px;
    }

}